@{
    ViewBag.Title = "About";
}
@section pagename{
    @ViewBag.Title
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
    </small>
}
@*<hgroup class="title">

        <h2>@ViewBag.Message</h2>
    </hgroup>*@


<div class="row">

    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="ace-icon fa fa-bookmark orange"></i>
                Acerca De
            </h4>

            <div class="widget-toolbar">
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding">
                <article>
                    <p>
                        Use this area to provide additional information.
                    </p>

                    <p>
                        Use this area to provide additional information.
                    </p>

                    <p>
                        Use this area to provide additional information.
                    </p>
                </article>
            </div>
        </div>
    </div>

</div>
