.Logo_ini {
    width:350px;
}

.mod3{
    color:#03899C;
    font-family:Arial, Helvetica, sans-serif;
}

h5.biggers {
    font-size: 16px;
}

.col-sm-6 {
    width: 50%;
    height: 400px !important;
}

.firstOfTeam {
    background-image: url()             
}