<aside id="sidebar" class="sidebar responsive">
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success">
            <i class="ace-icon fa fa-signal"></i>
        </button>

        <button class="btn btn-info">
            <i class="ace-icon fa fa-pencil"></i>
        </button>

        <!-- #section:basics/sidebar.layout.shortcuts -->
        <button class="btn btn-warning">
            <i class="ace-icon fa fa-users"></i>
        </button>

        <button class="btn btn-danger">
            <i class="ace-icon fa fa-cogs"></i>
        </button>

        <!-- /section:basics/sidebar.layout.shortcuts -->
    </div>
    </div>

        <script type="text/javascript">
            try {
                ace.settings.check('sidebar', 'fixed');
            } catch (e) { }
        </script>

        <ul class="nav nav-list">

            <li class=active">
                <a id="inicio" href="/Home/Index" data-url="/Home/GetStats">
                    <i class="menu-icon fa fa-desktop "></i>
                    <span class="menu-text">Inicio</span>
                </a>

                <b class="arrow"></b>
            </li>
            <li>
                <a id="registro" href="/Home/Registro" data-url="/Home/Registro">
                    <i class="menu-icon fa fa-pencil-square"></i>
                    <span class="menu-text"> Retos </span>
                </a>
                <b class="arrow"></b>
            </li>
            <li>
                <a id="registro" href="/Home/Registro" data-url="/Home/Registro">
                    <i class="menu-icon fa fa-flag-checkered"></i>
                    <span class="menu-text"> Estadisticas </span>
                </a>
                <b class="arrow"></b>
            </li>
            <li>
                <a id="registro" href="/Home/Registro" data-url="/Home/Registro">
                    <i class="menu-icon fa fa-gamepad"></i>
                    <span class="menu-text"> Logros </span>
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                    <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-pencil-square-o"></i>
                        <span class="menu-text">Tips</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a id="inicio" href="/Liga/Index" data-url="/Liga/Index">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Tips deporte
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a id="division" href="/Liga/Division" data-url="/Liga/Division">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Tips salud
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a id="reto" href="/Reto/Index" data-url="/Reto/Index">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Tips alimento
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

            <li>
                <a id="registro" href="/Home/Registro" data-url="/Home/Registro">
                    <i class="menu-icon fa fa-question"></i>
                    <span class="menu-text"> FAC </span>
                </a>
                <b class="arrow"></b>
            </li>
            <li>
                <a id="registro" href="/Home/Registro" data-url="/Home/Registro">
                    <i class="menu-icon fa fa-calendar"></i>
                    <span class="menu-text"> Calendario </span>
                </a>
                <b class="arrow"></b>
            </li>
            <li>
                <a id="registro" href="/Home/Registro" data-url="/Home/Registro">
                    <i class="menu-icon fa fa-picture-o"></i>
                    <span class="menu-text"> Galeria </span>
                </a>
                <b class="arrow"></b>
            </li>
             <li>
                <a id="about" href="/Home/About" data-url="/Home/About">
                    <i class="menu-icon fa fa-exclamation"></i>
                    <span class="menu-text"> Acerca de </span>
                </a>
                <b class="arrow"></b>
            </li>

        </ul><!-- /.nav-list -->
        <!-- #section:basics/sidebar.layout.minimize -->
        <!--div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div-->
        <!-- /section:basics/sidebar.layout.minimize -->
        <script type="text/javascript">
            try {
                ace.settings.check('sidebar', 'collapsed'); } catch (e) { }
        </script>
</aside>